PORT=8003
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/agent
GROQ_API_KEY=
CHAT_SERVICE=http://localhost:8002
TAVILY_API_KEY=
OPENROUTER_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_S3_BUCKET_NAME=
AUTH_SERVICE_URL=http://localhost:8001
QDRANT_API_KEY=
QDRANT_END_POINT=
USE_LOCAL_EMBEDDINGS=true
